@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*------------------------RESETEOS GLOBALES-----------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-image: linear-gradient(to bottom, #bea5c0, #a38aa5, #89708b, #6f5672, #573e5a, #4d3650, #432e46, #3a273d, #3c2c3e, #3d313f, #3f3540, #403a41);
}

h2, p, legend, label {
  color: #1d1f1f;
}

p {
  font-size: 1.5625rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

fieldset {
  border: 0;
}

textarea {
  outline: none;
  resize: none;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 0rem;
}

/*------------------------RESETEOS BOOTSTRAP-----------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0rem;
}

h1, ul, p, footer {
  line-height: 1;
}

p {
  text-size-adjust: none;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}

/*------------------------ESTILOS HEADER-------------------------------------------------------------*/
.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 0rem;
  background-color: #1d1f1f;
  height: 9rem;
}
.header__titulo {
  margin-bottom: 0;
  padding-left: 5rem;
  color: white;
  text-shadow: 0.125rem 0.125rem 0.125rem black;
  font-style: italic;
  font-size: 3rem;
  font-weight: 900;
}

/*------------------------ESTILOS header main-------------------------------------------------------------*/
.header--main {
  width: 100%;
  height: 35rem;
  background-image: url(https://i.ibb.co/kmRJRSh/Eq-Bnrr-XXMAMxq-Nr.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header--main .header__filtro {
  width: 100%;
  height: 100%;
  background-color: rgba(109, 71, 112, 0.2941176471);
}
.header--main .header__titulo {
  padding-top: 1rem;
}

/*------------------------ESTILOS NAVBAR-------------------------------------------------------------*/
nav {
  z-index: 3;
  background-color: #77527b;
  box-shadow: 0rem 0.125rem 1rem black;
  display: flex;
}
nav #check {
  display: none;
}
nav > ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 0rem;
}
nav > ul i::before {
  display: none;
}
nav > ul span {
  width: 80%;
  height: 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 0rem;
}
nav > ul span li {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 0rem;
}
nav > ul span li a {
  padding: 1rem;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 800;
  color: #f4f4ee;
}
nav > ul span li a:hover {
  text-shadow: 0px 0px 20px #38203b;
}
nav > ul span li:hover {
  cursor: pointer;
  -webkit-animation: slide-top 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-0.3125rem);
    transform: translateY(-0.3125rem);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-0.3125rem);
    transform: translateY(-0.3125rem);
  }
}
/*------------------------ESTILOS MAIN-------------------------------------------------------------*/
.body-index {
  background-position-y: 40rem;
}

/*------------------------ESTILOS MAIN CONTACTO-------------------------------------------------------------*/
.main-contacto {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 0rem;
  padding-top: 4rem;
  padding-bottom: 8rem;
  background-image: url(../assets/img/fondo-contacto-2.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.seccion-transparente, .seccion-shows__lista, .seccion-shows, .seccion-tienda__remeras, .seccion-tienda__discos, .seccion-tienda, .seccion-discografia__lista, .seccion-discografia, .seccion-novedades {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 0rem;
  width: 95%;
  margin: 2rem 0rem;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-radius: 0.625rem;
  border-style: solid;
  border-width: 0.0625rem;
  border-color: rgba(255, 255, 255, 0.18);
}
.seccion-transparente__titulo, .seccion-shows__titulo, .seccion-tienda__titulo, .seccion-discografia__titulo, .seccion-novedades__titulo {
  align-self: flex-start;
  margin-top: 2rem;
  padding: 0rem 5rem;
  font-size: 3rem;
  font-weight: 700;
}
.seccion-transparente--sin-fondo, .seccion-shows__lista, .seccion-discografia__lista {
  border: none;
  box-shadow: none;
  background: none;
  backdrop-filter: none;
}

.seccion-novedades__titulo {
  margin-bottom: 2rem;
}

/*------------------------ESTILOS SECCION DISCOGRAFIA-------------------------------------------------------------*/
.seccion-discografia__lista {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: space-between;
  align-items: stretch;
  row-gap: 3rem;
  column-gap: 2rem;
  grid-auto-rows: 35rem;
  grid-auto-columns: auto;
}

/*------------------------ESTILOS SECCION LANZAMIENTOS-------------------------------------------------------------*/
.seccion-lanzamiento, .seccion-videoclip {
  width: 95%;
  margin-bottom: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 12rem;
  flex-direction: row-reverse;
  border-radius: 0.9375rem;
  box-shadow: 0.3125rem 0.3125rem 0.4rem rgba(0, 0, 0, 0.532);
  background-color: #f4f4ee;
}
.seccion-lanzamiento__titulo, .seccion-videoclip__titulo {
  padding-bottom: 2rem;
  text-align: end;
  font-size: 2.3rem;
}
.seccion-lanzamiento__texto, .seccion-videoclip__texto {
  font-size: 1.5625rem;
  text-align: justify;
  padding-bottom: 2rem;
}
.seccion-lanzamiento__spotify, .seccion-videoclip__youtube {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.75rem;
}
.seccion-lanzamiento .container__texto, .seccion-videoclip .container__texto {
  width: 150%;
}
.seccion-lanzamiento .container__spotify, .seccion-videoclip .container__spotify, .seccion-videoclip .container__youtube {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 33%;
}

.seccion-videoclip {
  background-color: #1d1f1f;
  flex-direction: column;
  gap: 0rem;
}
.seccion-videoclip__youtube {
  border-radius: 0.9375rem;
}
.seccion-videoclip__titulo {
  text-align: left;
  color: #f4f4ee;
}
.seccion-videoclip__texto {
  color: #f4f4ee;
  padding-bottom: 2rem;
  width: 60%;
}
.seccion-videoclip .container__youtube {
  padding-bottom: 56.25%;
}

.seccion-tienda__remeras, .seccion-tienda__discos {
  padding: 3rem 0rem;
}
.seccion-tienda__grilla {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: stretch;
  row-gap: 3rem;
  column-gap: 1rem;
  justify-content: center;
}
.seccion-tienda__subtitulo {
  grid-column: 1/-1;
  font-size: 2.6rem;
  font-weight: 700;
  text-decoration: underline;
  text-align: center;
}
.seccion-tienda__discos {
  background-color: rgba(220, 186, 224, 0.15);
}

.seccion-shows__lista {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3rem;
}

/*------------------------ESTILOS FOOTER-------------------------------------------------------------*/
.footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 0rem;
}
.footer__copyright-contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 0rem;
  width: 100%;
  height: 4rem;
  background-color: #1d1f1f;
}
.footer__copyright-texto {
  margin: 0;
  font-size: 1.5rem;
  color: #f4f4ee;
  text-align: center;
}

/*------------------------ESTILOS CARDS-------------------------------------------------------------*/
/*------------------------CARDS DISCOS-------------------------------------------------------------*/
.lista-discografia li {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  min-width: 20rem;
  max-width: 27rem;
  background-color: #f4f4ee;
  background-image: linear-gradient(45deg, #f4f4ee 26%, #695c6f 100%);
  border-radius: 1.25rem;
  border-style: solid;
  border-color: #2d2d2d;
  border-width: 0.1875rem;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.213);
  overflow: hidden;
}
.lista-discografia li:hover {
  transform: scale(1.05);
  transition: transform 0.2s;
}
.lista-discografia li p {
  max-width: 20rem;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}
.lista-discografia li img {
  width: 20rem;
  height: 20rem;
}
.lista-discografia li a {
  padding: 1rem 1rem;
  font-size: 1.25rem;
  font-weight: 700;
  border-radius: 0.625rem;
  background-color: #1d1f1f;
  color: #f4f4ee;
}
.lista-discografia li a:hover {
  -webkit-animation: scale-down-center 0.2s cubic-bezier(0.895, 0.03, 0.685, 0.22) both;
  animation: scale-down-center 0.2s cubic-bezier(0.895, 0.03, 0.685, 0.22) both;
}
.lista-discografia li .container-cortamambo {
  width: 20rem;
  height: 20rem;
  overflow: hidden;
}
.lista-discografia li .container-cortamambo img {
  filter: blur(15px);
}

@-webkit-keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
/*------------------------cards tienda-------------------------------------------------------------*/
.seccion-tienda > div > ul > .card-tienda {
  width: 45rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;
  border-style: solid;
  border-radius: 1.25rem;
  border-color: #2d2d2d;
  border-width: 0.25rem;
  background-color: #f4f4ee;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.213);
  overflow: hidden;
}
.seccion-tienda > div > ul > .card-tienda .img-card-tienda {
  width: 18.75rem;
  height: 18.75rem;
  object-fit: cover;
}
.seccion-tienda > div > ul > .card-tienda > .card-tienda-texto {
  width: 70%;
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: stretch;
  gap: 0.75rem;
}
.seccion-tienda > div > ul > .card-tienda > .card-tienda-texto > h4 {
  font-size: 1.75rem;
}
.seccion-tienda > div > ul > .card-tienda > .card-tienda-texto > .div-precio {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.75rem;
}
.seccion-tienda > div > ul > .card-tienda > .card-tienda-texto > .div-precio > .valor-precio {
  font-weight: 700;
}

.card-show {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 1.75rem;
  background-color: #f2efef;
  border-radius: 1.25rem;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.532);
  overflow: hidden;
}
.card-show--reverse {
  align-self: flex-end;
  flex-direction: row-reverse;
}
.card-show__fecha {
  width: 300px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fdfdfb;
  border-radius: 20px;
  border: 0.12rem rgba(29, 31, 31, 0.8588235294) solid;
  margin: 2rem;
}
.card-show__fecha .fecha-show__dia-semana {
  font-weight: 600;
}
.card-show__fecha .fecha-show__dia {
  color: rgb(196, 31, 31);
  font-size: 4rem;
  font-weight: 800;
}
.card-show__fecha .fecha-show__mes {
  font-size: 2rem;
  font-weight: 800;
}
.card-show__fecha .fecha-show__anio {
  font-size: 1.5rem;
  font-weight: 800;
}
.card-show__texto {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin: 3rem 0rem;
}
.card-show__texto .texto-show__lugar {
  font-size: 3rem;
}
.card-show__texto .texto-show__precio {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.card-show__texto .texto-show__precio p:nth-child(2) {
  font-weight: 600;
}
.card-show__texto--reverse {
  align-items: flex-end;
}

/*------------------------ESTILOS BOTONES-------------------------------------------------------------*/
.btn-enviar-formulario {
  width: 9.375rem;
  margin: 2rem;
  padding: 0.75rem 0rem;
  border: none;
  background-color: #77527b;
  color: #f4f4ee;
  font-weight: 800;
  font-size: 1.25rem;
}

.btn-comprar, .btn-comprar-entradas {
  border: none;
  background-color: #77527b;
  color: #f4f4ee;
  font-weight: 800;
  font-size: 1.25rem;
  padding: 0.75rem 0rem;
  width: 9.375rem;
}
.btn-comprar:hover, .btn-comprar-entradas:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
  cursor: pointer;
}

.btn-comprar-entradas {
  border-radius: 1rem;
  width: 12rem;
  padding: 1rem 2rem;
}

/*------------------------ESTILOS LOGOS SEGUINOS-------------------------------------------------------------*/
.seguinos {
  width: 100%;
  height: 7rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 4rem 0rem;
}
.seguinos__titulo {
  text-align: center;
  font-size: 2rem;
  color: #f4f4ee;
}
.seguinos__lista {
  justify-self: center;
  min-width: 70%;
  max-width: 70rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}
.seguinos__imagen {
  height: 4.25rem;
}
.seguinos__item:hover {
  transform: scale(1.2);
  transition: transform 0.3s;
}

/*------------------------ESTILOS FORMULARIO CONTACTO-------------------------------------------------------------*/
.formulario-contacto {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: stretch;
  gap: 0rem;
  align-items: center;
  max-width: 80rem;
  padding: 2rem;
  background-color: rgba(185, 163, 185, 0.7960784314);
  box-shadow: black 0rem 0rem 2rem;
  backdrop-filter: blur(0.125rem);
}
.formulario-contacto__titulo {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-top: 1rem;
}
.formulario-contacto__subtitulo {
  margin: 3rem 0;
  font-size: 2rem;
  font-weight: 500;
}

.formulario-contacto__grupo-datos {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: stretch;
  align-items: center;
  row-gap: 2rem;
  column-gap: 2rem;
}
.formulario-contacto__container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
}
.formulario-contacto__container--pais {
  grid-column: 1/3;
}
.formulario-contacto__container--nombre {
  grid-column: 3/5;
}
.formulario-contacto__container--apellido {
  grid-column: 5/7;
}
.formulario-contacto__container--email {
  grid-column: 1/4;
}
.formulario-contacto__container--telefono {
  grid-column: 4/7;
}
.formulario-contacto__container--asunto {
  grid-column: 1/5;
}
.formulario-contacto__container--mensaje {
  grid-column: 1/-1;
}
.formulario-contacto__label {
  font-size: 1.5rem;
  font-weight: 700;
}
.formulario-contacto__input, .formulario-contacto__textarea {
  width: 100%;
  height: 3rem;
  text-indent: 0.5rem;
  font-size: 1.2rem;
  margin-top: 0.5rem;
}
.formulario-contacto__textarea {
  height: 20rem;
  padding-top: 0.7rem;
  text-indent: 0.7rem;
}

/*----------------------------------MEDIA QUERIES----------------------------------------*/
@media screen and (max-width: 1024px) {
  .footer__copyright-texto {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 768px) {
  nav, .nav-bar {
    background-color: #1d1f1f;
  }
  nav i::before, .nav-bar i::before {
    display: block;
  }
  .menu {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 0rem;
    width: 70%;
    height: 100vh;
    position: fixed;
    top: 0;
    padding-top: 15vh;
    padding-bottom: 40vh;
    right: -100%;
    z-index: 100;
    background-color: #77527b;
    transition: all 0.2s ease-in-out;
  }
  .menu li {
    margin-top: 3.2rem;
    margin-left: 1rem;
  }
  .menu li a {
    padding: 10px;
    text-decoration: none;
    color: #f4f4ee;
  }
  .close-menu, .open-menu {
    position: absolute;
    font-size: 2rem;
    top: 0.7rem;
    right: 2rem;
    color: #f4f4ee;
  }
  .open-menu {
    cursor: pointer;
  }
  #check:checked ~ .menu {
    right: 0;
  }
  .header {
    height: 4rem;
  }
  .header__titulo {
    padding-left: 1rem;
    font-size: 2rem;
  }
  .seguinos {
    margin: 2rem 0rem;
  }
  .seguinos__titulo {
    font-size: 1.5rem;
  }
  .seguinos__imagen {
    height: 3rem;
  }
  /*----------------------------------header----------------------------------------*/
  .banner-generico h1 {
    font-size: 2rem;
  }
  /*----------------------------------form contacto----------------------------------------*/
  form legend {
    font-size: 2rem;
    font-weight: 700;
  }
  form fieldset h2 {
    text-align: left;
    font-size: 0.5rem;
    font-weight: 500;
  }
  form label, form input, form textarea {
    font-size: 0.8rem;
  }
  form div button {
    font-size: 1rem;
  }
  .container-form-pais {
    grid-column: 1/7 !important;
  }
  .container-form-nombre {
    grid-column: 1/7 !important;
  }
  .container-form-apellido {
    grid-column: 1/7 !important;
  }
  .container-form-email {
    grid-column: 1/7 !important;
  }
  .container-form-telefono {
    grid-column: 1/7 !important;
  }
  .container-form-asunto {
    grid-column: 1/7 !important;
  }
  .container-form-mensaje {
    grid-column: 1/7 !important;
  }
  /*----------------------------------listado discos----------------------------------------*/
  .ul-discos > h2 {
    font-size: 1.75rem !important;
  }
}
@media screen and (max-width: 640px) {
  .header__titulo {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 468px) {
  /*----------------------------------header----------------------------------------*/
  .header__titulo {
    font-size: 1rem;
  }
  .footer__copyright-texto {
    font-size: 1rem;
  }
  .seguinos__imagen {
    height: 2.5rem;
  }
}
@media screen and (max-width: 320px) {
  /*----------------------------------form contacto----------------------------------------*/
  form legend {
    font-size: 1.3rem;
    font-weight: 700;
  }
  form h2 {
    font-size: 1.025rem;
  }
  form label, form input, form textarea {
    font-size: 0.75rem;
  }
  form div button {
    font-size: 0.75rem;
  }
}

/*# sourceMappingURL=style.css.map */
