/css/old-styles.css
/pages/prueba-nav.html
/pages/prueba-contacto.html
/assets/img/fondo-contacto.jpg
/assets/img/hero-image.webp
/assets/img/logos/favicon.ico
/assets/img/discos/discos_originales_600x600.rar
/assets/img/tienda/remeras/remeras_originales.rar
/assets/img/tienda/discos/discos_originales.rar