/*------------------------ESTILOS MAIN CONTACTO-------------------------------------------------------------*/
.main-contacto {
  background: {
    image: url(../assets/img/fondo-contacto-2.webp);
    repeat: no-repeat;
    size: cover;
    position: center;
    height: 100%;
  }
}