/*------------------------ESTILOS MAIN CONTACTO-------------------------------------------------------------*/
.main-contacto {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: {
    top: 2rem;
    bottom: 2rem;
  }
  background: {
    image: url(../assets/img/fondo-contacto-2.webp);
    repeat: no-repeat;
    size: cover;
    position: center;
  }
}