/*------------------------ESTILOS MAIN CONTACTO-------------------------------------------------------------*/
.main-contacto {
 @include mixin-flex-row(nowrap, center, center, 0rem);
  padding: {
    top: 4rem;
    bottom: 8rem;
  }
  background: {
    image: url(../assets/img/fondo-contacto-2.webp);
    repeat: no-repeat;
    size: cover;
    position: center;
  }
}