@include responsive-design(320px) {
  /*----------------------------------form contacto----------------------------------------*/
  form {
    legend {
      font: {
        size: 1.3rem;
        weight: 700;
      }
    }
    
    h2 {
      font-size: 1.025rem;
    }
    label, input, textarea{
      font-size: 0.75rem;
    }

    div {
      button {
        font-size: 0.75rem;
      }
    }
  }
}