@include responsive-design(468px) {
  /*----------------------------------header----------------------------------------*/
  .header {
    &__titulo {
      font-size: 1rem;
    }
  }
  
  .footer {
    &__copyright-texto {
      font-size: 1rem;
    }
  }

  .seguinos {
    
    &__imagen {
      height: 2.5rem;
    }
  }
}