@include responsive-design ( 530px ) {
  .seccion-lanzamiento {
    &__titulo {
      text-align: center;
    }
    .container {
      &__spotify {
        min-height: auto;
        height: 10rem;
      }
    }
  }
}
