@include responsive-design(468px) {
  /*----------------------------------header----------------------------------------*/
  .header {
    &__titulo {
      font-size: 1rem;
    }
  }
  
  .card-discografia {
    min-width: 16rem;
    max-width: 100%;

    max-height: 30rem;

    &__imagen {
      @include width-height(16rem,16rem);
    }

    &__censura {
      @include width-height(16rem,16rem);
    }

    &__titulo {
      max-width: 15rem;
      font-size: 1.5rem;
    }
  }

  .seccion-discografia {
    &__lista {
      row-gap: 2rem;
      grid-auto-rows: 30rem;
    }
  }

  .seccion-transparente__titulo {
    font-size: 1.8rem;
  }

  .card-show {
    min-width: 15rem;

    &__fecha{
      min-width: 14rem;
      height: 14rem;
      .fecha-show {
        
      }

    }

    &__texto{
      .texto-show {
        &__lugar {
          font-size: 2rem;
        }
      }
    }
  }

  .btn-comprar-entradas {
    margin-top: 1rem;
    width: 10rem;
    padding: 0.4rem;
    font-size: 1rem;
  }
  
  .formulario-contacto {
    &__titulo {
      font-size: 2.5rem;
    }

    &__subtitulo {
      font-size: 1.2rem;
    }

    &__label {
      font-size: 1.2rem;
    }

    &__input {
      font-size: 1rem;
    }

    &__textarea {
      height: 15rem;
    }
  }

  .seguinos {
    &__imagen {
      height: 2.5rem;
    }
  }

  .footer {
    &__copyright-texto {
      font-size: 1rem;
    }
  }
}