@media (max-width: 2560px) {
  /*----------------------------------form contacto----------------------------------------*/
  form {
    fieldset {
      h2 {
        margin-bottom: 2rem;
        font: {
          size: 0.5rem;
          weight: 400;
        }
      }
      >legend {
        font: {
          size: 3rem;
          weight: 600;
        }



      }
      section {
        >div {
          >div {
            label {
              font: {
                size: 1.25rem;
                weight: 400;
              }

            }
          }
        }
      }

      button {
        margin-bottom: 2.5rem;
      }

    }
  }
}