@include responsive-design ( 530px ) {
  .seccion-lanzamiento {
    &__titulo {
      text-align: center;
    }
    .container {
      &__spotify {
        min-height: auto;
        height: 10rem;
      }
    }
  }

  .main-contacto{
    padding: {
      top: 4rem;
      bottom: 0rem;
    }
  }

  .formulario-contacto{
    &__subtitulo {
      margin: 2rem 0;
      font-size: 1.5rem;
    }

    &__grupo-datos {
      row-gap: 1rem;
    }
  }
}
