@include responsive-design ( 1280px ) {
  .header--main {
    height: 30rem;
  }
  
  .body-index {
    background-position-y: 30rem;
  }

  .seccion-lanzamiento {
    gap: 2rem;

    .container {
      &__texto {
        width: 80%;
      }

      &__spotify {
        min-height: 22rem;
      }
    }
  }

  .seccion-videoclip {
    &__texto {
      width: 100%;
    }
  }

  .seccion-discografia {
    &__lista {
      @include mixin-grid(2, stretch, stretch, 2rem, 1rem);
      justify-items: center;
    }
  }

  .card-discografia {
    width: 100%;
  }
}