@include responsive-design ( 768px ) {
  @include nav-bar-responsive();

  .header--main {
    background-image: none;
    .header {
      &__filtro {
        background-color: $color-negro;
      }
    }
  }

  .body-index {
    background-position-y: 4rem;
  }  

  .seccion-transparente {
    width: 100%;
    background: rgba( white, 0.0 );
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    box-shadow: none;
    border: none;

    &__titulo {
      padding:0 2rem;
    }
  }

  .seccion-novedades {
    margin-bottom: 0rem;
  }

  .seccion-tienda {
    &__grilla {
      width: 100%;
      @include mixin-grid(2,stretch,center,2rem,0rem);
    }

    &__discos {
      padding-bottom: 0rem;
      .seccion-tienda__subtitulo{
        color: $color-blanco
      }
    }
  }

  .card-tienda {
    @include mixin-flex-col( nowrap, space-between, center, 0rem);
    width: 18.75rem;
    height: 35rem;

    &__descripcion {
      margin-top: 1rem
    }

    &__texto {
      width: 85%;
      margin-right: 0rem;
      text-align: center;
    }

    &__container-precio {
      margin-left: auto;
      margin-right: auto;
    }

    .btn-comprar {
      margin: 2rem auto;
    }
  }

  .seccion-discografia {
    &__lista {
      @include mixin-grid(1, stretch, stretch, 2rem, 1rem);
      justify-items: center;
      max-width: 90%;
    }
  }

  .main-contacto{
    padding: {
      top: 6rem;
      bottom: 3rem;
    }
  }

  .formulario-contacto {
    &__container {
      &--pais {
        grid-column: 1/5;
      }
    }
  }

  .seguinos {
    margin: 2rem 0rem;

    &__titulo {
      font-size: 1.5rem;
    }
    
    &__imagen {
      height: 3rem;
    }
  }

  
}