@media (max-width: 1440px) {
  /*----------------------------------form contacto----------------------------------------*/
  form {
    >fieldset {
      >h2 {
        font: {
          size: 2rem;
          weight: 500;
        }
      }
      >legend {
        font: {
          size: 3rem;
          weight: 600;
        }
      }
      >section {

      }


    }



    >div{
      margin-bottom: 1rem;
    }


    
    label {
      font: {
        size: 1.25rem;
        weight: 400;
      }
    }
  }


}