@include responsive-design ( 768px ) {
  @import"../../layout/navbar/navbar--responsive";

  .header {
    height: 4rem;

    &__titulo {
      padding-left: 1rem;
      font-size: 2rem;
    }
  }

  .seguinos {
    margin: 2rem 0rem;

    &__titulo {
      font-size: 1.5rem;
    }
    
    &__imagen {
      height: 3rem;
    }
  }






















  /*----------------------------------header----------------------------------------*/
  .banner-generico {
    h1 {
      font-size: 2rem;
    }
  }
  

  /*----------------------------------form contacto----------------------------------------*/
  form {
    legend {
      font: {
        size: 2rem;
        weight: 700;
      }
    }
    
    fieldset {
      h2 {
        text-align: left;
        font: {
          size: 0.5rem;
          weight: 500;
        }
      }
    }

    label, input, textarea {
      font-size: 0.8rem;
    }

    div {
      button {
        font-size: 1rem;
      }
    }
  }

  .container-form {
    &-pais {
      grid-column: 1/7 !important;
    }
    &-nombre {
      grid-column: 1/7 !important;
    }
    &-apellido {
      grid-column: 1/7 !important;
    }
    &-email {
      grid-column: 1/7 !important;
    }
    &-telefono {
      grid-column: 1/7 !important;
    }
    &-asunto {
      grid-column: 1/7 !important;
    }
    &-mensaje {
      
      grid-column: 1/7 !important;
    }
  }

  /*----------------------------------listado discos----------------------------------------*/
  .ul-discos {
    >h2 {
      font-size: 1.75rem !important;
    }
  }
}