/*------------------------ESTILOS CARDS-------------------------------------------------------------*/

/*------------------------CARDS DISCOS-------------------------------------------------------------*/
.ul-discos li {
  @include mixin-flex(column,nowrap,center,space-evenly,1rem);
  width: 25rem;

  background: {
    color: $color-blanco;
    image: $color-fondo-card-discografia;
  }
  border: {
    style: solid;
    radius: 1.25rem;
    color: $color-borde-card-disco;
    width: 0.25rem;
  }
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.213);
  overflow: hidden;

  &:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
  }

  p {
    font: {
      size: 2rem;
      weight: 600;
    }
    text-align: center;
  }

  img {
    @include width-height(20rem,20rem);
  }

  a {
    padding: 1rem 1rem;
    font: {
      size: 1.25rem;
      weight: 700;
    }
    border-radius: 0.625rem;
    background-color: $color-negro;
    color: $color-blanco;

    &:hover {
      -webkit-animation: scale-down-center 0.2s cubic-bezier(0.895, 0.030, 0.685, 0.220) both;
	        animation: scale-down-center 0.2s cubic-bezier(0.895, 0.030, 0.685, 0.220) both;
    }
  }

  .container-cortamambo {
    @include width-height(20rem,20rem);
    overflow: hidden;

    img {
      filter: blur(15px);
    }
  }
}

@-webkit-keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}