
.card-show {
  width: 80%;
  @include mixin-flex-row( nowrap, center, flex-start, 0rem);
  background-color: $color-fondo-card-shows;
  border-radius: 1.25rem;
  box-shadow: 1rem 1rem 1rem $color-sombra;
  overflow: hidden;

  &--reverse {
    align-self: flex-end;
    flex-direction: row-reverse;
  }
  

  &__fecha {
    min-width: 17.5rem;
    height: 17.5rem;
    @include mixin-flex-col(nowrap, center,center,0rem);
    margin: 2rem;
    background-color: $color-fondo-card-shows-fecha;
    border-radius: 20px;
    border: 0.12rem #1d1f1fdb solid;

    .fecha-show {
      &__dia-semana {
        font-weight: 600;
      }

      &__dia {
        color: rgb(196, 31, 31);
        font-size: 4rem;
        font-weight: 800;
      }
      
      &__mes {
        font-size: 2rem;
        font-weight: 800;
      }
      
      &__anio {
        font-size: 1.5rem;
        font-weight: 800;
      }
    }
  }

  
  &__texto {
    @include mixin-flex-col(nowrap,stretch,stretch,0.75rem);
    margin: 3rem 2rem 3rem 0rem;

    .texto-show {
      &__lugar {
        font-size: 3rem;
      }

      &__precio {
        @include mixin-flex-row(nowrap,stretch,stretch,1rem);

        p:nth-child(2) {
          font-weight: 600;
        }
      }
    }

    &--reverse {
      align-items: flex-end;
      margin: 3rem 0rem 3rem 2rem;

      .texto-show__lugar {
        text-align: right;
      }
    }
  }

}


