/*------------------------ESTILOS CARDS-------------------------------------------------------------*/

/*------------------------CARDS DISCOS-------------------------------------------------------------*/
.lista-discografia li {
  @include mixin-flex-col(nowrap,space-evenly,center,1rem);
  //@include width-height(25rem, 35rem);
  min-width: 20rem;
  max-width: 27rem;
  background: {
    color: $color-blanco;
    image: $color-fondo-card-discografia;
  }
  border: {
    radius: 1.25rem;
    style: solid;
    color: $color-borde-card-disco;
    width: .1875rem;
  }
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.213);
  overflow: hidden;

  &:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
  }

  p {
    max-width: 20rem;
    font: {
      size: 2rem;
      weight: 600;
    }
    text-align: center;
  }

  img {
    @include width-height(20rem,20rem);
  }

  a {
    padding: 1rem 1rem;
    font: {
      size: 1.25rem;
      weight: 700;
    }
    border-radius: 0.625rem;
    background-color: $color-negro;
    color: $color-blanco;

    &:hover {
      -webkit-animation: scale-down-center 0.2s cubic-bezier(0.895, 0.030, 0.685, 0.220) both;
	        animation: scale-down-center 0.2s cubic-bezier(0.895, 0.030, 0.685, 0.220) both;
    }
  }

  .container-cortamambo {
    @include width-height(20rem,20rem);
    overflow: hidden;

    img {
      filter: blur(15px);
    }
  }
}

@-webkit-keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
@keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}