// MIXINS FLEXBOX
@mixin mixin-flex-row($wrap, $alinear-vertical, $alinear-horizontal, $gap) {
  display: flex; 
  flex: {
    direction: row;
    wrap: $wrap;
  }
  align-items: $alinear-vertical;
  justify-content: $alinear-horizontal;
  gap: $gap;
}

@mixin mixin-flex-col($wrap, $alinear-vertical, $alinear-horizontal, $gap) {
  display: flex;
  flex: {
    direction: column;
    wrap: $wrap;
  }
  align-items: $alinear-horizontal;
  justify-content: $alinear-vertical;
  gap: $gap;
}

@mixin width-height($width, $height) {
  width: $width;
  height: $height;
}

@mixin mixin-grid ($columnas, $vertical-item, $horizontal-item, $row-gap, $column-gap) {
  display: grid;
  grid-template-columns: repeat($columnas, 1fr);
  justify-items: $horizontal-item;
  align-items: $vertical-item;
  row-gap: $row-gap;
  column-gap: $column-gap;
}

@mixin mixin-grid-auto-row-col ($tamanio-fila, $tamanio-columna) {
  grid-auto-rows: $tamanio-fila;
  grid-auto-columns: $tamanio-columna;
}

@mixin responsive-design ( $medida ) {
  @media screen and (max-width: $medida) {
    @content;
  }
}

@mixin nav-bar-responsive () {
  .nav-bar {
    background-color: $color-negro;
  
  
    &__menu {
      @include mixin-flex-col( nowrap, flex-start, center, 0rem);
      @include width-height(70%, 100vh);
      position: fixed;
      top: 0;
      padding: {
        top: 5vh;
        bottom: 30vh;
      }
      right: -100%;
      z-index: 100;
      background-color: $color-navbar;
      transition: all 0.2s ease-in-out;
    }
  
    &__item {
      margin: {
        top: 3.2rem;
        left: 1rem;
      }
    }
  
    &__enlace {
      padding: 10px;
      text-decoration: none;
      color: $color-blanco;
      font-size: 1.5rem;
    }
  
    &__close-menu, &__open-menu {
      display: block;
      position: absolute;
      font-size: 2rem;
      top: 0.7rem;
      right: 2rem;
      color: $color-blanco;
    }
  
    &__open-menu {
      cursor: pointer;
      position: fixed;
      z-index: 92;
    }
  }
  
  #check:checked ~ .nav-bar__menu {
    right: 0;
  }

  .header {
    height: 4rem;
    width: 100%;
    position: fixed;
    z-index: 90;
    box-shadow: 0.3125rem 0.3125rem 0.4rem rgba(black,.532);

    &__titulo {
      padding-left: 1rem;
      font-size: 2rem;
    }
  }
  main {
    padding-top: 2rem;
  }
}

@mixin eliminar-fondo-transparente {
    border: none;
    box-shadow: none;
    background: none;
    backdrop-filter: none;
}