// MIXINS FLEXBOX
@mixin flex-full-gap($direction, $wrap, $align, $justify, $gap) {
  display: flex;
  flex: {
    direction: $direction;
    wrap: $wrap;
  }
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}

@mixin flex($direction, $wrap, $align, $justify) {
  display: flex;
  flex: {
    direction: $direction;
    wrap: $wrap;
  }
  align-items: $align;
  justify-content: $justify;
}

@mixin flex-direction($direction) {
  display: flex;
  flex-direction: $direction;
}

@mixin alignI-justifyC($align, $justify) {
  align-items: $align;
  justify-content: $justify;
}

@mixin width-height($width, $height) {
  width: $width;
  height: $height;
}

@mixin mixin-grid ($columnas, $justify-items, $row-gap, $column-gap) {
  display: grid;
  grid-template-columns: repeat($columnas, 1fr);
  justify-items: $justify-items;
  row-gap: $row-gap;
  column-gap: $column-gap;
}