$color-fondo-body: linear-gradient(to bottom, #bea5c0, #a38aa5, #89708b, #6f5672, #573e5a, #4d3650, #432e46, #3a273d, #3c2c3e, #3d313f, #3f3540, #403a41);
$color-negro: #1d1f1f;
$color-blanco: #f4f4ee;
$color-sombra: rgba(0, 0, 0, 0.532);
$color-filtro-hero-image: #6d47704b;
$color-navbar: #77527b;
$color-sombra-navbar: #38203b;
$color-boton-formulario: $color-navbar;
$color-fondo-formulario-contacto: #b9a3b9cb;
$color-borde-card-disco: #1d1f1fdb;