.seccion-generica {
  display: flex;
  flex-direction: column;
  //width: 92%;
  border-radius: 0.9375rem;
  padding: 2rem;
  //box-shadow: 0.3125rem 0.3125rem 0.4rem rgba(0, 0, 0, 0.532);
  //background-color: #f4f4ee;
}

.seccion-generica h2 {
  margin-bottom: 1rem;
}