
.seccion-tienda{
  h2 {
    font: {
      size: 3rem;
    }
  }

  @include mixin-flex-col( nowrap,center,flex-start,0rem);
  .sub-seccion-remeras {
    width: 90%;
    margin: 2rem 0rem;
    padding: {
      top: 3rem;
      bottom: 4rem;
      left: 3rem;
      right: 3rem;
    }
    background-color: rgba($color-fondo-tienda-div, 0.3);
    backdrop-filter: blur( 0.125rem );
    border-radius: 1.25rem;
  }

  .sub-seccion-discos {
    @extend .sub-seccion-remeras;
    background: {
      color: rgba($color-fondo-sub-seccion-discos, .6);
    }
  }

  >div {
    >ul {
      @include mixin-grid(2, center, center, 2rem, 2rem);
      justify-content: center;
    }

    >h3 {
      margin-bottom: 3rem;
    font: {
      size: 2.6rem;
      weight: 700;
    }

      text: {
        decoration: underline;
        align: center;
      }
    }
  }
}



