/*------------------------ESTILOS SECCION SEGUINOS-------------------------------------------------------------*/
.seccion-seguinos {
  width: 60%;
  @include mixin-flex(column,nowrap,center,flex-start,0rem);
  h3 {
    color: $color-blanco;
    font-size: 2rem;
    margin-bottom: 3rem;
  }
}
