/*------------------------ESTILOS SECCION SEGUINOS-------------------------------------------------------------*/
.footer__seguinos {
  width: 60%;
  margin-bottom: 3rem;
  @include mixin-flex-col(nowrap,center,center,3rem);
  h3 {
    margin: 0;
    color: $color-blanco;
    font-size: 2rem;
  }
}
