/*------------------------ESTILOS SECCION SEGUINOS-------------------------------------------------------------*/
.seccion-seguinos {
  width: 40%;
  @include flex-direction(column);
  align-items: center;
  h3 {
    color: $color-blanco;
    font-size: 2rem;
    margin-bottom: 3rem;
  }
}
