/*------------------------ESTILOS SECCION LANZAMIENTOS-------------------------------------------------------------*/
.seccion-lanzamiento {
  width: 95%;
  margin-bottom: 2rem;
  padding: 2rem;
  @include mixin-flex-row(nowrap, flex-start, space-between, 12rem);
  flex-direction: row-reverse;

  border-radius: .9375rem;
  box-shadow: 0.3125rem 0.3125rem 0.4rem rgba(black,.532);
  background-color: $color-blanco;
  
  &__titulo {
    padding-bottom: 2rem;
    text-align: end;
    font-size: 2.3rem;
  }

  &__texto {
    text-indent: 1rem;
    font-size: 1.5625rem;
    padding-bottom: 1rem;
  }

  &__spotify {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: .75rem;
  }

  .container {
    &__texto {
      width: 150%;
    }

    &__spotify {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 33%;
    }
  }
}

.seccion-videoclip {
  @extend .seccion-lanzamiento;
  background-color: $color-negro;
  flex-direction: column;
  gap: 0rem;

  &__youtube {
    @extend .seccion-lanzamiento__spotify;
    border-radius: 0.9375rem;
  }
  
  &__titulo {
    @extend .seccion-lanzamiento__titulo;
    text-align: left;
    color: $color-blanco;
  }

  &__texto {
    @extend .seccion-lanzamiento__texto;
    color: $color-blanco;
    padding-bottom: 1rem;
    width: 60%;
  }

  .container__youtube {
    @extend .container__spotify;
    padding-bottom: 56.25%;
  }
}