/*------------------------ESTILOS FOOTER-------------------------------------------------------------*/
.footer {
  margin-top: auto;
  padding-top: 2rem;
  @include mixin-flex-col(nowrap,center,center,0rem);
  
  &__copyright {
    @include mixin-flex-row(nowrap,center,center,0rem);
    @include width-height(100%, 4rem);
    background-color: $color-negro;
    
    .copyright__texto{
      margin: 0;
      font-size: 1.5rem;
      color: $color-blanco;
      text-align: center;
    }
  }
}