/*------------------------ESTILOS FOOTER-------------------------------------------------------------*/
footer {
  height: 2.25rem;
  margin-top: auto !important;
  background-color: $color-negro;
  @include flex(row,nowrap,center,center);
  p {
    margin: 0;
    font-size: 1.2rem;
    color: $color-blanco;
  }
}