/*------------------------ESTILOS FOOTER-------------------------------------------------------------*/
footer {
  background-color: $color-negro;
  @include flex(row,nowrap,center,center);
  margin-top: auto;
  p {
    font-size: 1.2rem;
    color: $color-blanco;
  }
}