/*------------------------ESTILOS CARDS-------------------------------------------------------------*/

/*------------------------CARDS DISCOS-------------------------------------------------------------*/
.ul-discos li {
  @include flex-full-gap(column,nowrap,center,center,1rem);
  @include width-height(25rem,35rem);
  //border: 0.25rem #1d1f1fdb solid;
  border: {
    style: solid;
    radius: 1.25rem;
    color: $color-borde-card-disco;
    width: 0.25rem;
  }
  background-color: #e3e3da;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.213);

  p {
    font: {
      size: 2rem;
      weight: 600;
    }
    text-align: center;
  }

  img {
    @include width-height(20rem,20rem);
  }

  a {
    padding: 1rem 1rem;
    font: {
      size: 1.25rem;
      weight: 700;
    }
    border-radius: 0.625rem;
    background-color: $color-negro;
    color: $color-blanco;
  }

  .container-cortamambo {
    @include width-height(20rem,20rem);
    overflow: hidden;

    img {
      filter: blur(15px);
    }
  }
}