/*------------------------ESTILOS LOGOS SEGUINOS-------------------------------------------------------------*/
.logos-seguinos {
  @include width-height(100%,7rem);
  @include mixin-flex(row,nowrap,center,space-evenly,0rem);
  li { 
    a { 
      img {
          height: 4.25rem;
      }
    }

    &:hover {
      transform: scale(1.2);
      transition: transform 0.3s;
    }
  }
  
}