/*------------------------ESTILOS LOGOS SEGUINOS-------------------------------------------------------------*/
.logos-seguinos {
  @include width-height(100%,7rem);
  display: flex;
  @include alignI-justifyC(center,space-evenly);
  li { 
    a { 
      img {
          height: 4.25rem;
      }
    }

    &:hover {
      transform: scale(1.2);
      transition: transform 0.3s;
    }
  }
  
}