/*------------------------RESETEOS GLOBALES-----------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  //border: solid 1px red;
}
body {
  @include flex-direction(column);
  min-height: 100vh;
  background-image: $color-fondo-body;
}
h2,p,legend,label {color: $color-negro;}
p {font-size: 1.5625rem;}
a {text-decoration: none;}
li {list-style: none;}
fieldset {border: 0;}
textarea {
  outline: none;
  resize: none;
}
/*------------------------RESETEOS BOOTSTRAP-----------------------------------------------------*/
h1,ul,p,footer{
  line-height: 1;
}
p {
  text-size-adjust: none;
}
ul {
  
  padding-left: 0;
  margin-bottom: 0;
}